@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');



body {

    background-image: url('../assets/cliffPond.jpg');
    font-family: 'Raleway', sans-serif;  
    /* background-color: blue;    */
    /* background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */

}
.mapCard{
margin-bottom: 60px;
}
.jumbotron1{
    margin-top: 60px;
}
